BODY {
	FONT-SIZE: 10pt; COLOR: black; FONT-FAMILY: Arial,Helvetica,SansSerif; BACKGROUND-COLOR: #ffffff; TEXT-DECORATION: none
}
TD {
	FONT-FAMILY: Arial,Helvetica,SansSerif
}
TH {
	FONT-FAMILY: Arial,Helvetica,SansSerif
}
DIV {
	FONT-FAMILY: Arial,Helvetica,SansSerif
}
P {
	FONT-FAMILY: Arial,Helvetica,SansSerif
}
LI {
	FONT-FAMILY: Arial,Helvetica,SansSerif
}
TD {
	FONT-SIZE: 10pt; VERTICAL-ALIGN: top
}
.indexeintrag {
	FONT-WEIGHT: normal; FONT-SIZE: 10pt; MARGIN-LEFT: 10px
}
.indextitel {
	FONT-WEIGHT: bold; FONT-SIZE: 14pt; BACKGROUND-COLOR: lavender
}
.listetitel {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt
}
.listetitel1 {
	FONT-WEIGHT: normal; FONT-SIZE: 10pt
}
.tabtit {
	FONT-WEIGHT: bold; BACKGROUND-COLOR: lavender
}
.eintrag1 {
	FONT-WEIGHT: bold
}
.eintrag {
	BACKGROUND-COLOR: white
}
.smallhelp {
	FONT-SIZE: 10pt
}
